body {
    background-color: #FDFCDC;
}

.content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 8% 2%;
    font-family: 'Didact Gothic'; 
}

.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
  }

.tab button {
    background-color: #FDFCDC;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;
    margin-right: 20px;
    transition: 0.3s;
    overflow: inherit;
    font-size: 30px;
    opacity: 0.5;
    font-family: 'Didact Gothic'; 
}

.tab button:hover {
    /*background-color: #ddd;*/
    text-decoration: underline;
    overflow: visible;
}

.tab button.active {
    font-weight: bold;
    overflow: visible;
    opacity: 1;
    /*background-color: #ccc;*/
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    font-size: 25px;
    border: 1px;
}

.social {
    white-space: nowrap;
    padding: 6px 12px;
}

.sn-info {
    display: inline-block;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  

.fa-instagram {
    background: #55ACEE;
    color: white;
}

@media (orientation: portrait) {

    .content {
        width: 90%;
    }

    .fa {
        font-size: 40px;
        width: 40px;
    }

    .tab button {
        font-size: 40px;
        margin-right: 50px;
    }

    .tabcontent {
        font-size: 20px;
    }

    .tab {
        margin-bottom: 50px;
    }
}
